WebNdQn/Service References/TestAdo/PayFlowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax21="http://model/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://218.207.182.73:7076/SdkToAdcService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://service" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://218.207.182.73:7076/SdkToAdcService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>PayFlowService</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model/xsd">
      <xs:complexType name="AppInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="appid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="apptype" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sign" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SaleOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="effectType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="home_City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="orderSerial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="publicsign" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="saleOrderID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SaleOrderRsp">
        <xs:sequence>
          <xs:element minOccurs="0" name="acceptID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="orderCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="resultMsg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SaleAuthOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="orderSerial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="publicsign" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="saleID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="saleProductID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SaleAuth">
        <xs:sequence>
          <xs:element minOccurs="0" name="home_City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="msisdn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="publicsign" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="saleID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SaleAuthRsp">
        <xs:sequence>
          <xs:element minOccurs="0" name="authResult" type="xs:int" />
          <xs:element minOccurs="0" name="resultCode" type="xs:int" />
          <xs:element minOccurs="0" name="resultMsg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="saleOrderID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryMoibleInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="publicsign" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryMoibleInfoRsp">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECInfo" nillable="true" type="ax21:ECInfo" />
          <xs:element minOccurs="0" name="cityInfo" nillable="true" type="ax21:CityInfo" />
          <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="resultMsg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ECInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="payment_msisdn" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CityInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="home_City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="home_Country" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryMemberLLTFUsed">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pageInfo" nillable="true" type="ax21:PageInfo" />
          <xs:element minOccurs="0" name="publicsign" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="statisticsDate" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PageInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="pageNum" type="xs:int" />
          <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryMemberLLTFUsedResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="memberUsedInfo" nillable="true" type="ax21:MemberUsedInfo" />
          <xs:element minOccurs="0" name="pageInfoResult" nillable="true" type="ax21:PageInfoResult" />
          <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="resultMsg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MemberUsedInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECDealID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="acceptMode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="allocateAmount" type="xs:int" />
          <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="memberDealID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="number" type="xs:int" />
          <xs:element minOccurs="0" name="orderDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="surplusAmount" type="xs:int" />
          <xs:element minOccurs="0" name="usedAmount" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PageInfoResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="currentPageNumber" type="xs:int" />
          <xs:element minOccurs="0" name="pageSize" type="xs:int" />
          <xs:element minOccurs="0" name="totalPage" type="xs:int" />
          <xs:element minOccurs="0" name="totalRecord" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryMemberLLTF">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pageInfo" nillable="true" type="ax21:PageInfo" />
          <xs:element minOccurs="0" name="publicsign" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryMemberLLTFResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="LLTFMemberInfo" nillable="true" type="ax21:LLTFMemberInfo" />
          <xs:element minOccurs="0" name="pageInfoResult" nillable="true" type="ax21:PageInfoResult" />
          <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="resultMsg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LLTFMemberInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECDealID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECDealName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECMemberOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealDesl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isAddition" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="memberAmount" type="xs:int" />
          <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="playFlag" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryECLLTFUsed">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="publicsign" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="statisticsDate" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryECLLTFUsedResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ECUsedInfo" nillable="true" type="ax21:ECUsedInfoResult" />
          <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="resultMsg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ECUsedInfoResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="acceptMode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="allocateAmount" type="xs:int" />
          <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealPackageAmount" type="xs:int" />
          <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="orderDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="surplusAmount" type="xs:int" />
          <xs:element minOccurs="0" name="usedAmount" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryECLLTF">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="publicsign" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryECLLTFResult">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="LLTFECInfo" nillable="true" type="ax21:LLTFECInfo" />
          <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="resultMsg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LLTFECInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECShortName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="acceptMode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="allocateAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealDesc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="discount" type="xs:int" />
          <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="memberAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="packageAmount" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LLTFMemberOrder">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECMemberOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="discount" type="xs:int" />
          <xs:element minOccurs="0" name="effType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isSendSMS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="is_partake_continue" type="xs:int" />
          <xs:element minOccurs="0" name="memberAmount" type="xs:int" />
          <xs:element minOccurs="0" name="mode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="oprCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="payflag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="publicsign" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LLTFMemberOrderResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECMemberOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="resultMsg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LLTFMemberAddition">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ECOrderID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="dealID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="discount" type="xs:int" />
          <xs:element minOccurs="0" name="effType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isSendSMS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="payflag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="publicsign" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="LLTFMemberAdditionResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="resultCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="resultMsg" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InitBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="errorcode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="timeamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax22="http://model/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service">
      <xs:import namespace="http://model/xsd" />
      <xs:element name="getpublicsign">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="ECCode" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Appid" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="apptype" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="MemberAmount" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="DealID" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="publicKey" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getpublicsignResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SaleOrder">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="appinfo" nillable="true" type="ax22:AppInfo" />
            <xs:element minOccurs="0" name="saleorder" nillable="true" type="ax22:SaleOrder" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SaleOrderResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:SaleOrderRsp" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SaleAuthOrder">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="appinfo" nillable="true" type="ax22:AppInfo" />
            <xs:element minOccurs="0" name="Saleauthorder" nillable="true" type="ax22:SaleAuthOrder" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SaleAuthOrderResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:SaleOrderRsp" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SaleAuth">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="appinfo" nillable="true" type="ax22:AppInfo" />
            <xs:element minOccurs="0" name="saleauth" nillable="true" type="ax22:SaleAuth" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SaleAuthResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:SaleAuthRsp" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryMoibleInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="appinfo" nillable="true" type="ax22:AppInfo" />
            <xs:element minOccurs="0" name="queryMoibleInfo" nillable="true" type="ax22:QueryMoibleInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryMoibleInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:QueryMoibleInfoRsp" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryMemberLLTFUsed">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="appinfo" nillable="true" type="ax22:AppInfo" />
            <xs:element minOccurs="0" name="queryMemberlltfUsed" nillable="true" type="ax22:QueryMemberLLTFUsed" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryMemberLLTFUsedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:QueryMemberLLTFUsedResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryMemberLLTF">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="appinfo" nillable="true" type="ax22:AppInfo" />
            <xs:element minOccurs="0" name="queryMemberlltf" nillable="true" type="ax22:QueryMemberLLTF" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryMemberLLTFResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:QueryMemberLLTFResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryECLLTFUsed">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="appinfo" nillable="true" type="ax22:AppInfo" />
            <xs:element minOccurs="0" name="queryEClltfUsed" nillable="true" type="ax22:QueryECLLTFUsed" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryECLLTFUsedResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:QueryECLLTFUsedResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryECLLTF">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="appinfo" nillable="true" type="ax22:AppInfo" />
            <xs:element minOccurs="0" name="queryEclltf" nillable="true" type="ax22:QueryECLLTF" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QueryECLLTFResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:QueryECLLTFResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LLTFMemberOrder">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="appinfo" nillable="true" type="ax22:AppInfo" />
            <xs:element minOccurs="0" name="lltfmemberOrder" nillable="true" type="ax22:LLTFMemberOrder" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LLTFMemberOrderResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:LLTFMemberOrderResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LLTFMemberAddition">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="appinfo" nillable="true" type="ax22:AppInfo" />
            <xs:element minOccurs="0" name="lltfmemberAddition" nillable="true" type="ax22:LLTFMemberAddition" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LLTFMemberAdditionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:LLTFMemberAdditionResult" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Init">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="appinfo" nillable="true" type="ax22:AppInfo" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InitResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax22:InitBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="QueryECLLTFRequest">
    <wsdl:part name="parameters" element="ns:QueryECLLTF" />
  </wsdl:message>
  <wsdl:message name="QueryECLLTFResponse">
    <wsdl:part name="parameters" element="ns:QueryECLLTFResponse" />
  </wsdl:message>
  <wsdl:message name="SaleAuthOrderRequest">
    <wsdl:part name="parameters" element="ns:SaleAuthOrder" />
  </wsdl:message>
  <wsdl:message name="SaleAuthOrderResponse">
    <wsdl:part name="parameters" element="ns:SaleAuthOrderResponse" />
  </wsdl:message>
  <wsdl:message name="getpublicsignRequest">
    <wsdl:part name="parameters" element="ns:getpublicsign" />
  </wsdl:message>
  <wsdl:message name="getpublicsignResponse">
    <wsdl:part name="parameters" element="ns:getpublicsignResponse" />
  </wsdl:message>
  <wsdl:message name="SaleOrderRequest">
    <wsdl:part name="parameters" element="ns:SaleOrder" />
  </wsdl:message>
  <wsdl:message name="SaleOrderResponse">
    <wsdl:part name="parameters" element="ns:SaleOrderResponse" />
  </wsdl:message>
  <wsdl:message name="QueryECLLTFUsedRequest">
    <wsdl:part name="parameters" element="ns:QueryECLLTFUsed" />
  </wsdl:message>
  <wsdl:message name="QueryECLLTFUsedResponse">
    <wsdl:part name="parameters" element="ns:QueryECLLTFUsedResponse" />
  </wsdl:message>
  <wsdl:message name="LLTFMemberOrderRequest">
    <wsdl:part name="parameters" element="ns:LLTFMemberOrder" />
  </wsdl:message>
  <wsdl:message name="LLTFMemberOrderResponse">
    <wsdl:part name="parameters" element="ns:LLTFMemberOrderResponse" />
  </wsdl:message>
  <wsdl:message name="QueryMoibleInfoRequest">
    <wsdl:part name="parameters" element="ns:QueryMoibleInfo" />
  </wsdl:message>
  <wsdl:message name="QueryMoibleInfoResponse">
    <wsdl:part name="parameters" element="ns:QueryMoibleInfoResponse" />
  </wsdl:message>
  <wsdl:message name="LLTFMemberAdditionRequest">
    <wsdl:part name="parameters" element="ns:LLTFMemberAddition" />
  </wsdl:message>
  <wsdl:message name="LLTFMemberAdditionResponse">
    <wsdl:part name="parameters" element="ns:LLTFMemberAdditionResponse" />
  </wsdl:message>
  <wsdl:message name="SaleAuthRequest">
    <wsdl:part name="parameters" element="ns:SaleAuth" />
  </wsdl:message>
  <wsdl:message name="SaleAuthResponse">
    <wsdl:part name="parameters" element="ns:SaleAuthResponse" />
  </wsdl:message>
  <wsdl:message name="InitRequest">
    <wsdl:part name="parameters" element="ns:Init" />
  </wsdl:message>
  <wsdl:message name="InitResponse">
    <wsdl:part name="parameters" element="ns:InitResponse" />
  </wsdl:message>
  <wsdl:message name="QueryMemberLLTFUsedRequest">
    <wsdl:part name="parameters" element="ns:QueryMemberLLTFUsed" />
  </wsdl:message>
  <wsdl:message name="QueryMemberLLTFUsedResponse">
    <wsdl:part name="parameters" element="ns:QueryMemberLLTFUsedResponse" />
  </wsdl:message>
  <wsdl:message name="QueryMemberLLTFRequest">
    <wsdl:part name="parameters" element="ns:QueryMemberLLTF" />
  </wsdl:message>
  <wsdl:message name="QueryMemberLLTFResponse">
    <wsdl:part name="parameters" element="ns:QueryMemberLLTFResponse" />
  </wsdl:message>
  <wsdl:portType name="PayFlowServicePortType">
    <wsdl:operation name="QueryECLLTF">
      <wsdl:input wsaw:Action="urn:QueryECLLTF" message="tns:QueryECLLTFRequest" />
      <wsdl:output wsaw:Action="urn:QueryECLLTFResponse" message="tns:QueryECLLTFResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaleAuthOrder">
      <wsdl:input wsaw:Action="urn:SaleAuthOrder" message="tns:SaleAuthOrderRequest" />
      <wsdl:output wsaw:Action="urn:SaleAuthOrderResponse" message="tns:SaleAuthOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="getpublicsign">
      <wsdl:input wsaw:Action="urn:getpublicsign" message="tns:getpublicsignRequest" />
      <wsdl:output wsaw:Action="urn:getpublicsignResponse" message="tns:getpublicsignResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaleOrder">
      <wsdl:input wsaw:Action="urn:SaleOrder" message="tns:SaleOrderRequest" />
      <wsdl:output wsaw:Action="urn:SaleOrderResponse" message="tns:SaleOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryECLLTFUsed">
      <wsdl:input wsaw:Action="urn:QueryECLLTFUsed" message="tns:QueryECLLTFUsedRequest" />
      <wsdl:output wsaw:Action="urn:QueryECLLTFUsedResponse" message="tns:QueryECLLTFUsedResponse" />
    </wsdl:operation>
    <wsdl:operation name="LLTFMemberOrder">
      <wsdl:input wsaw:Action="urn:LLTFMemberOrder" message="tns:LLTFMemberOrderRequest" />
      <wsdl:output wsaw:Action="urn:LLTFMemberOrderResponse" message="tns:LLTFMemberOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryMoibleInfo">
      <wsdl:input wsaw:Action="urn:QueryMoibleInfo" message="tns:QueryMoibleInfoRequest" />
      <wsdl:output wsaw:Action="urn:QueryMoibleInfoResponse" message="tns:QueryMoibleInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="LLTFMemberAddition">
      <wsdl:input wsaw:Action="urn:LLTFMemberAddition" message="tns:LLTFMemberAdditionRequest" />
      <wsdl:output wsaw:Action="urn:LLTFMemberAdditionResponse" message="tns:LLTFMemberAdditionResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaleAuth">
      <wsdl:input wsaw:Action="urn:SaleAuth" message="tns:SaleAuthRequest" />
      <wsdl:output wsaw:Action="urn:SaleAuthResponse" message="tns:SaleAuthResponse" />
    </wsdl:operation>
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="urn:Init" message="tns:InitRequest" />
      <wsdl:output wsaw:Action="urn:InitResponse" message="tns:InitResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryMemberLLTFUsed">
      <wsdl:input wsaw:Action="urn:QueryMemberLLTFUsed" message="tns:QueryMemberLLTFUsedRequest" />
      <wsdl:output wsaw:Action="urn:QueryMemberLLTFUsedResponse" message="tns:QueryMemberLLTFUsedResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryMemberLLTF">
      <wsdl:input wsaw:Action="urn:QueryMemberLLTF" message="tns:QueryMemberLLTFRequest" />
      <wsdl:output wsaw:Action="urn:QueryMemberLLTFResponse" message="tns:QueryMemberLLTFResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PayFlowServiceSoap11Binding" type="tns:PayFlowServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryECLLTF">
      <soap:operation soapAction="urn:QueryECLLTF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleAuthOrder">
      <soap:operation soapAction="urn:SaleAuthOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleOrder">
      <soap:operation soapAction="urn:SaleOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getpublicsign">
      <soap:operation soapAction="urn:getpublicsign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LLTFMemberOrder">
      <soap:operation soapAction="urn:LLTFMemberOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryECLLTFUsed">
      <soap:operation soapAction="urn:QueryECLLTFUsed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMoibleInfo">
      <soap:operation soapAction="urn:QueryMoibleInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LLTFMemberAddition">
      <soap:operation soapAction="urn:LLTFMemberAddition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleAuth">
      <soap:operation soapAction="urn:SaleAuth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Init">
      <soap:operation soapAction="urn:Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMemberLLTFUsed">
      <soap:operation soapAction="urn:QueryMemberLLTFUsed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMemberLLTF">
      <soap:operation soapAction="urn:QueryMemberLLTF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayFlowServiceSoap12Binding" type="tns:PayFlowServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryECLLTF">
      <soap12:operation soapAction="urn:QueryECLLTF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleAuthOrder">
      <soap12:operation soapAction="urn:SaleAuthOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleOrder">
      <soap12:operation soapAction="urn:SaleOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getpublicsign">
      <soap12:operation soapAction="urn:getpublicsign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LLTFMemberOrder">
      <soap12:operation soapAction="urn:LLTFMemberOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryECLLTFUsed">
      <soap12:operation soapAction="urn:QueryECLLTFUsed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMoibleInfo">
      <soap12:operation soapAction="urn:QueryMoibleInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LLTFMemberAddition">
      <soap12:operation soapAction="urn:LLTFMemberAddition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleAuth">
      <soap12:operation soapAction="urn:SaleAuth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Init">
      <soap12:operation soapAction="urn:Init" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMemberLLTFUsed">
      <soap12:operation soapAction="urn:QueryMemberLLTFUsed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMemberLLTF">
      <soap12:operation soapAction="urn:QueryMemberLLTF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PayFlowServiceHttpBinding" type="tns:PayFlowServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="QueryECLLTF">
      <http:operation location="QueryECLLTF" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleAuthOrder">
      <http:operation location="SaleAuthOrder" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleOrder">
      <http:operation location="SaleOrder" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getpublicsign">
      <http:operation location="getpublicsign" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LLTFMemberOrder">
      <http:operation location="LLTFMemberOrder" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryECLLTFUsed">
      <http:operation location="QueryECLLTFUsed" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMoibleInfo">
      <http:operation location="QueryMoibleInfo" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LLTFMemberAddition">
      <http:operation location="LLTFMemberAddition" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaleAuth">
      <http:operation location="SaleAuth" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Init">
      <http:operation location="Init" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMemberLLTFUsed">
      <http:operation location="QueryMemberLLTFUsed" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryMemberLLTF">
      <http:operation location="QueryMemberLLTF" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayFlowService">
    <wsdl:port name="PayFlowServiceHttpSoap11Endpoint" binding="tns:PayFlowServiceSoap11Binding">
      <soap:address location="http://218.207.182.73:7076/SdkToAdcI/services/PayFlowService.PayFlowServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="PayFlowServiceHttpSoap12Endpoint" binding="tns:PayFlowServiceSoap12Binding">
      <soap12:address location="http://218.207.182.73:7076/SdkToAdcI/services/PayFlowService.PayFlowServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="PayFlowServiceHttpEndpoint" binding="tns:PayFlowServiceHttpBinding">
      <http:address location="http://218.207.182.73:7076/SdkToAdcI/services/PayFlowService.PayFlowServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>